:root {
    --card-color: #f2cc8f;
}

article.card-container {
    width: clamp(25%,260px,100%);
    height: auto;
    padding: 1rem;
    background-color: var(--card-color);
    border-radius: 5px;
    transition-duration: 0.4s;
    margin-top: 2rem;
}

article.card-container:hover {
    transform: translateY(-5px);
    transition-duration: 0.05s;
}

.image-container {
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.pokemon-image {
    width: 100%;
}